@(mramForm: Form[Mram])

@import helper._

@import b3.vertical.fieldConstructor

@main {
    
    <h1>Add a Mram</h1>
    
    @b3.form(routes.HomeController.save1()) {
        
        <fieldset>
            @b3.text(mramForm("tipo"), '_label -> "tipo Ram", '_help -> "")
            @b3.text(mranForm("fabricante"), '_label -> "Fabricante", '_help -> "")
            @b3.text(mramForm("capacidad"), '_label -> "Capacidad", '_help -> "")
            @b3.text(mramForm("Pines"), '_label -> "Pines", '_help -> "")

            @b3.select(
                mramForm("company.id"), 
                options(Company.options), 
                '_label -> "Company", '_default -> "-- Choose a company --",
                '_showConstraints -> false
            )
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this computer" class="btn primary"> or 
            <a href="@routes.HomeController.list1()" class="btn">Cancel</a>
        </div>
        
    }
    
}